.cards-container {
     display: flex;
}

.card-container {
     display: flex;
     flex-direction: column;
     min-height: 300px;
     max-width: 250px;
     border-radius: 5%;
     background-color: #fff;
     margin: 1%;
}

.image-container {
     height: 80%;
     width: 100%;

}

.image-container img {
     width: 100%;
     border-top-left-radius: 5%;
     border-top-right-radius: 5%;
}

.bottom-container {
     display: flex;
     justify-content: space-between;
     margin: 0% 2%;
}