.nav-container {
     display: flex;
     align-items: center;
     justify-items: center;
     background-color: #fff;
     width: 100%;
     height: 7.5%;
     position: fixed;
}

.shopping-cart-icon {
     margin-left: auto !important;
     margin-right: 2% !important;
}