table,
th,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 750px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.error-container {
  color: red;
}